.landing-page {
  &:not(.-visible) { display: none }
  &:not(.-hidden) ~ * { display: none !important }

  &,
  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    object-fit: cover;
  }
}