@import '../base/mixins';
@import '../base/variables';

.section-login {
  margin-top: 0;

  > .container {
    display: grid;
    align-items: flex-start;

    grid-gap: 1.6rem;
    grid-template-columns: repeat(1, 1fr);
    @include media('md') {
      grid-gap: 2.4rem;
      grid-template-columns: repeat(3, 1fr);
    }
    @include media('xlg') {
      grid-gap: 4.8rem;
    }

    > .box {
      padding: 2.4rem;
      display: flex;
      flex-direction: column;
      background: var(--gray4);

      > .form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        transition: opacity .25s;
        &.-sending,
        &.-sending-login {
          opacity: .7;
          pointer-events: none;
        }

        &[data-form-login],
        &[data-form-recover] {
          overflow: hidden;
          transition: opacity .4s;
          &:not(.-active) {
            opacity: 0;
            height: 0;
          }
        }
  
        > .text {
          width: 100%;
          text-align: center;
          margin-bottom: 2rem;
          // fonts
          font-size: var(--font-size-base-3);
          line-height: var(--line-height-3);
          letter-spacing: var(--letter-spacing-1);
          color: var(--gray1);
          font-weight: 600;
        }
        > .field {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: .8rem;

          width: 100%;
          &.-half {
            @include media('md') {
              width: calc(50% - .4rem);
              &:nth-child(even) { margin-right: .4rem }
              &:nth-child(odd) { margin-left: .4rem }
            }
          }

          & + .button-main { margin-top: .4rem }

          > .text {
            margin-bottom: .4rem;
            // fonts
            font-size: var(--font-size-base-2);
            line-height: var(--line-height-2);
            letter-spacing: var(--letter-spacing-2);
            color: var(--gray1);
            font-weight: 500;
          }
          > input,
          > .select select {
            min-width: 0;
            width: 100%;
            height: 4rem;
            padding: 0 1.6rem;
            background: var(--white);
            // fonts
            font-size: var(--font-size-base-2);
            line-height: var(--line-height-2);
            letter-spacing: var(--letter-spacing-2);
            color: var(--gray2);
      
            transition: border .25s, opacity .25s;
            border: 1px solid var(--gray3);
            &:hover,
            &:active,
            &:focus { border: 1px solid var(--gray2) }
          }
          > .select {
            width: 100%;
            display: flex;
            position: relative;

            > .icon {
              pointer-events: none;
              position: absolute;
              z-index: 1;
              top: 50%;
              right: 1.6rem;
              transform: translateY(-50%) rotate(90deg);
              width: 1.6rem;
              height: 1.6rem;
              stroke-width: 1.6;
              color: var(--gray1);
            }
          }
        }
        > .anchor {
          margin-top: .4rem;
          margin-bottom: 1.2rem;
          &:hover { text-decoration: underline }
          // fonts
          font-size: var(--font-size-base-2);
          line-height: var(--line-height-2);
          letter-spacing: var(--letter-spacing-2);
          color: var(--gray2);
          font-weight: 500;
        }
        > .checkbox {
          display: flex;
          align-items: center;
          margin-top: .8rem;
          margin-bottom: 1.6rem;

          > .input {
            cursor: pointer;
            width: 1.6rem;
            height: 1.6rem;
            min-width: 1.6rem;
            min-height: 1.6rem;
            margin-right: .8rem;
            border-radius: .4rem;
            border: 1px solid var(--gray2);

            transition: background-color .25s;
            background: transparent;
            &:hover { background: var(--gray3) }
            &:checked { background: var(--gray1) }
          }
          > .text {
            @include media('xs') { max-width: 16rem }
            // fonts
            &,
            > .anchor {
              font-size: var(--font-size-base-2);
              line-height: var(--line-height-2);
              letter-spacing: var(--letter-spacing-1);
              color: var(--gray1);
              font-weight: 500;
            }
            > .anchor {
              color: var(--primary2);
              &:hover { text-decoration: underline }
            }
          }
        }
        > .button-main {
          width: 100%;
        }
        > .msg-return {
          width: 100%;
          &.-active { margin-top: .8rem }
          // fonts
          font-size: var(--font-size-base-2);
          line-height: var(--line-height-2);
          letter-spacing: var(--letter-spacing-2);
          color: var(--gray1);
          font-weight: 500;
        }
      }
    }
  }
}
