{% comment %} CONFIG {% endcomment %}
{% assign description_html = '' %}
{% if product.description != blank %}

  {% comment %} VERIFY DESCRIPTION TABS {% endcomment %}
  {% if product.description contains '<hr/>' %}
    
    {% comment %} SPLIT DESCRIPTION {% endcomment %}
    {% assign description_tabs = product.description | split: '<hr/>' %}

    {% comment %} ITERATE DESCRIPTION TABS {% endcomment %}
    {% for tab in description_tabs %}
      {% if tab contains '</h3>' %}
    
        {% comment %} SET TITLE/TEXT {% endcomment %}
        {% assign title = tab | split: '</h3>' | first %}
        {% assign replace = title | append: '</h3>' %}
        {% assign text = tab | replace: replace, '' %}

        {% comment %} MOUNT TABS DESCRIPTION {% endcomment %}
        {% capture description_html %}
          {{ description_html }}
          <a class="anchor {% if forloop.first %}-active{% endif %}">
            {{ title | strip_html }}
          </a>
          <div class="dropdown {% if forloop.first %}-active{% endif %}">
            {{ text }}
          </div>
        {% endcapture %}

      {% endif %}
    {% endfor %}
  
  {% else %}

    {% comment %} MOUNT DEFAULT DESCRIPTION {% endcomment %}
    {% capture description_html %}
      <a class="anchor -active">
        Descrição
      </a>
      <div class="dropdown -active">
        {{ product.description }}
      </div>
    {% endcapture %}

  {% endif %}
{% endif %}

{% comment %} HTML {% endcomment %}
{% if description_html != blank %}
  <div class="description" data-description>
    {{ description_html }}
  </div>
{% endif %}