<div class="actions">

  {% comment %} 
    Restante do código ...
  {% endcomment %}

  <button class="select-local" type="button" aria-label="Abrir popup de seleção de locais" data-show-locals-popup >
    Definir local
  </button>

  {% comment %} 
    Restante do código ...
  {% endcomment %}
  
</div>