{% comment %} CONFIG {% endcomment %}

{% comment %} HTML {% endcomment %}
<form class="cart-form" data-webform="orcamento" name="orcamento" id="orcamento" style="display: none" data-cart-form>

  <input type="hidden" name="key" value="{{ current_shop.subdomain }}-orcamento">
  <input type="hidden" name="reply_to" id="reply_to" value="">
  <input name="vnda" class="form-honeypot" type="text">

  {% comment %} Valor preenchido via script com base nos produtos do carrinho {% endcomment %}
  <input name="products" type="hidden">

  <div class="field">
    <p class="text">Nome</p>
    <input class="input" type="text" id="name" name="name" required placeholder="John Doe">
  </div>
  <div class="field">
    <p class="text">E-mail</p>
    <input class="input" type="email" id="email" name="email" required placeholder="exemplo@email.com">
  </div>
  <div class="field">
    <p class="text">Telefone</p>
    <input class="input" type="text" id="phone" name="phone" required placeholder="(xx) xxxx xxxx">
  </div>

  <button class="button-main" type="button">
    Enviar orçamento
  </button>
  
  <div class="msg-retorno" data-msg-retorno>
    <div class="msg" data-msg></div>
    <div class="msg msg-success" data-msg-success>
      Enviado com sucesso!
    </div>
    <div class="msg msg-error" data-msg-error>
      Falha ao enviar.
    </div>
  </div>

</form>
