{% gtm product_impression: product %}

{% assign image_urls = product.images | map: 'url' | uniq %}
{% assign class_sold_out = '' %}

{% unless product.available %}
  {% assign class_sold_out = 'sold-out' %}
{% endunless %}

{% if product.discount_rule != null and product.discount_rule.type == 'percentage' %}
  {% assign discount_amount = product.discount_rule.amount %}
{% endif %}

{% assign show_qtd_selector = false %}
{% if mobile %}
  {% assign show_qtd_selector = true %}
{% endif %}

{% assign img_limit = 2 %}
{% if mobile %}
  {% assign img_limit = 1 %}
{% endif %}

{% unless imgs_without_lazy %}
  {% assign imgs_without_lazy = 1 %}
{% endunless %}

{% unless forloop_index %}
  {% assign forloop_index = 99 %}
{% endunless %}

{% assign customs_tag = product.tags | where: 'type', 'personalizacao' | first %}

{% capture price_settings %}
  {
    "productId": {{ product.id }},
    "showInstallmentsWithoutInterest": true,
    "showInstallmentsWithInterest": false, 
    "mode": "medium",
    "htmlTag": "p",
    "percentDiscountOnPix": {{current_shop.settings.pix_discount | plus: 0}}
  }
{% endcapture %}

{% comment %} Definição do modelo de compra rápida {% endcomment %}
{% comment %} Valores: hover/popup {% endcomment %}
{% comment %} Remover o data-attribute "data-quickview-type" por completo caso não utilize a compra rápida {% endcomment %}
{% assign quickview_type = 'popup' %}

{% comment %} ========== {% endcomment %}

<div class="product-block {{ class_sold_out }}" data-product-box="{{ product.id }}" data-quickview-type="{{ quickview_type }}">
  <div class="images">
    <a aria-label="Ir para o produto {{ product.name }}" href="{{ product.url }}">

      {% comment %} ========================================= {% endcomment %}
      {% comment %} Abertura das configs de Imagens/Videos    {% endcomment %}
      {% comment %} ========================================= {% endcomment %}

      {% comment %} Carrega o vídeo do produto - Youtube ou Vimeo {% endcomment %}
      {% load_videos %}
      {% if loaded_videos.size > 0 %}
        {% for video in loaded_videos %}

          {% if video.embed_url contains "youtube" %}
            {% assign playlist = video.embed_url | split: 'www.youtube.com/embed/' | last %}
            {% assign video_address = video.embed_url | split: "?v=" | last %}
            {% assign video_code = video_address | split: '&' | first | strip %}
            {% assign video_url = video_code | prepend: "https://www.youtube.com/embed/" | append: "?autoplay=1&mute=1&controls=0&enablejsapi=1&loop=1&playlist=" | append: playlist | append: '"' %}
          {% elsif video.embed_url contains "vimeo" %}
            {% assign video_code = video.embed_url | split: "/" | last | strip %}
            {% assign video_url = video_code | prepend: "https://player.vimeo.com/video/" | append: "?api=1&autoplay=0&title=0&byline=0&portrait=0&loop=1&background=1&muted=1" %}
          {% endif %}

          {% comment %} Monta o iframe sem a classe e atributo "lazy" - Controle feito por JS {% endcomment %}
          <div class="video -vertical">
            <iframe
              data-video-control
              data-src="{{ video_url | strip }}?autoplay=1&mute=1&controls=0&loop=1&enablejsapi=1&playlist={{ video.embed_url | split: 'www.youtube.com/embed/' | last }}"
              frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture"
              allowfullscreen
              aria-label="{{ product.name }} {{ forloop.index }}" alt="{{ product.name }} {{ forloop.index }}"
            >
            </iframe>

            {% comment %} Utiliza apenas uma imagem para ser exibida antes do carregamento do video {% endcomment %}
            {% if image_urls.size > 0 %}
              <figure class="image -vertical">
                {% for image in image_urls limit: 1 %}
                  {% capture data_srcset %}
                    {{ image | resize: '300x' }} 350w,
                    {{ image | resize: '425x' }} 767w,
    
                  {% endcapture %}
            
                  {% capture data_sizes %}
                    (max-width: 350px) 350px,
                    (max-width: 767px) 767px,
                    (max-width: 991px) 991px,
                    (max-width: 1440px) 1440px,
                    (min-width: 1921px) 2000px
                  {% endcapture %}
    
                  {% if forloop_index <= imgs_without_lazy %}
                  {% head %}
                    <link rel="preload" as="image" href="{{ image }}" imagesrcset="{{ data_srcset | strip_newlines | strip }}" imagesizes="{{ data_sizes | strip_newlines | strip }}">
                  {% endhead %}
                    <img srcset="{{ data_srcset | strip_newlines | strip }}" sizes="{{ data_sizes | strip_newlines | strip }}" alt="Foto do produto {{ product.name }}"/>
                  {% else %}
                    <img class="lazy" loading="lazy" data-srcset="{{ data_srcset | strip_newlines | strip }}" sizes="{{ data_sizes | strip_newlines | strip }}" alt="Foto do produto {{ product.name }}"/>
                  {% endif %}
                {% endfor %}
              </figure>
            {% endif %}
          </div>
          {% break %}      
        {% endfor  %}
        
      {% else %}

        {% comment %} Caso não tenha video no produto, utiliza as imagens {% endcomment %}
        {% if image_urls.size > 0 %}
          <figure class="image -vertical">
            {% for image in image_urls limit: img_limit %}
              {% capture data_srcset %}
                {{ image | resize: '375x' }} 350w
              {% endcapture %}       

              {% if forloop_index <= imgs_without_lazy %}
              {% head %}
                <link rel="preload" as="image" href="{{ image }}" imagesrcset="{{ data_srcset | strip_newlines | strip }}" imagesizes="{{ data_sizes | strip_newlines | strip }}">
              {% endhead %}
                <img srcset="{{ data_srcset | strip_newlines | strip }}" sizes="{{ data_sizes | strip_newlines | strip }}" alt="Foto do produto {{ product.name }}"/>
              {% else %}
                <img class="lazy" loading="lazy" data-srcset="{{ data_srcset | strip_newlines | strip }}" sizes="{{ data_sizes | strip_newlines | strip }}" alt="Foto do produto {{ product.name }}"/>
              {% endif %}
            {% endfor %}
          </figure>
        {% endif %}

      {% endif %}
      {% comment %} ========================================= {% endcomment %}
      {% comment %} Fechamento das configs de Imagens/Videos  {% endcomment %}
      {% comment %} ========================================= {% endcomment %}

      {% render 'partials/components/flag', product: product %}
    </a>
  </div>

  <div class="description">
    <h3 class="name">
      <a aria-label="Ir para o produto {{ product.name }}" href="{{ product.url }}">
        {{ product.name }}
      </a>
    </h3>

    <div class="colors">
      {% for tag in product.tags %}
        {% if tag.type == 'modelo'  %}
          {% load_products tag: tag.name page: 1 %} 

          {% for product in products  %}
            <a href="{{product.url}}">
              {% render 'partials/components/check_color', color: product.variants[0].properties.property1.value, product: product %}
            </a>
          {% endfor  %}  
          {% break %}
        {% endif  %}
      {% endfor  %}
    </div>

    <div class="price-wrapper">
      <div class="product-price price {% if discount_amount %} -discount {% endif %}" data-was-processed="false" data-sku="" data-init-price='{{ price_settings }}' data-price="{{ product.price }}" data-discount-percent="{{ discount_amount | round| default: 0 }}"></div>
    </div>
  </div>

  {% comment %}
    Renderiza attributos do popup de compra rápida
    Retirar ou comentar caso não for utilizado
  {% endcomment %}

  {% if product.available %}
    <a aria-label="Ir para o produto {{ product.name }}" href="{{ product.url }}" class="button-default -outlined">
      <span class="text">COMPRAR AGORA</span>
    </a>
  {% elsif quickview_type == 'popup' %}
    <button aria-label="Produto indisponível" class="button-default -outlined -unavailable" data-open-popup-quickview type="button">
      <span class="text">PRODUTO INDISPONÍVEL</span>
    </button>
  {% endif %}
</div>
