{% gtm product_impression: product %}

{% assign image_urls = product.images | map: 'url' | uniq %}
{% assign class_sold_out = '' %}

{% unless product.available %}
  {% assign class_sold_out = 'sold-out' %}
{% endunless %}

{% if product.discount_rule != null and product.discount_rule.type == 'percentage' %}
  {% assign discount_amount = product.discount_rule.amount %}
{% endif %}

{% assign pix_discount = false %}
{% if current_shop.settings.pix_discount != blank %}
  {% assign pix_discount = current_shop.settings.pix_discount %}
{% endif %}

{% assign show_qtd_selector = false %}
{% if mobile %}
  {% assign show_qtd_selector = true %}
{% endif %}

{% assign img_limit = 2 %}
{% if mobile %}
  {% assign img_limit = 1 %}
{% endif %}

{% unless imgs_without_lazy %}
  {% assign imgs_without_lazy = 0 %}
{% endunless %}

{% unless forloop_index %}
  {% assign forloop_index = 99 %}
{% endunless %}

{% assign customs_tag = product.tags | where: 'type', 'personalizacao' | first %}

{% capture price_settings %}
  {
    "productId": {{ product.id }},
    "showInstallmentsWithoutInterest": true,
    "showInstallmentsWithInterest": false, 
    "mode": "short",
    "htmlTag": "p",
    "percentDiscountOnPix": {{ pix_discount }}
  }
{% endcapture %}

{% comment %} ========================================= {% endcomment %}
{% comment %} Abertura das configs de Imagens/Videos    {% endcomment %}
{% comment %} ========================================= {% endcomment %}
{% assign product_video = '' %}

{% comment %} Válido apenas no desktop - no mobile não há o efeito {% endcomment %}
{% unless mobile %}

  {% comment %} Carrega video do produto - Youtube/Vimeo {% endcomment %}
  {% load_videos %}
  {% if loaded_videos.size > 0 %}
    {% for video in loaded_videos %}

      {% if video.embed_url contains "youtube" %}
        {% assign playlist = video.embed_url | split: 'www.youtube.com/embed/' | last %}
        {% assign video_address = video.embed_url | split: "?v=" | last %}
        {% assign video_code = video_address | split: '&' | first | strip %}
        {% assign video_url = video_code | prepend: "https://www.youtube.com/embed/" | append: "?autoplay=1&mute=1&controls=0&enablejsapi=1&loop=1&playlist=" | append: playlist | append: '"' %}
      {% elsif video.embed_url contains "vimeo" %}
        {% assign video_code = video.embed_url | split: "/" | last | strip %}
        {% assign video_url = video_code | prepend: "https://player.vimeo.com/video/" | append: "?api=1&autoplay=0&title=0&byline=0&portrait=0&loop=1&background=1&muted=1" %}
      {% endif %}

      {% capture product_video %}
        {% comment %} Monta o iframe sem a classe e atributo "lazy" - Controle feito por JS {% endcomment %}
        <div class="video -square">
          <iframe
            data-video-control
            data-src="{{ video_url | strip }}?autoplay=1&mute=1&controls=0&loop=1&enablejsapi=1&playlist={{ video.embed_url | split: 'www.youtube.com/embed/' | last }}"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
            aria-label="{{ product.name }} {{ forloop.index }}" alt="{{ product.name }} {{ forloop.index }}"
          >
          </iframe>

          {% comment %} Utiliza apenas uma imagem para ser exibida antes do carregamento do video {% endcomment %}
          {% if image_urls.size > 0 %}
            {% for image in image_urls limit: 1 %}
              {% capture data_srcset %}
                {{ image | resize: '350x' }} 360w,
                {{ image | resize: '597x' }} 680w,
                {{ image | resize: '371x' }} 991w,
                {{ image | resize: '425x' }} 1280w,
                {{ image | resize: '412x' }} 1368w,
                {{ image | resize: '384x' }} 1920w,
                {{ image }} 2000w
              {% endcapture %}
        
              {% capture data_sizes %}
                (max-width: 360px) 360px,
                (max-width: 680px) 680px,
                (max-width: 991px) 991px,
                (max-width: 1280px) 1280px,
                (max-width: 1368px) 1368px,
                (max-width: 1920px) 1920px,
                (min-width: 1921px) 2000px
              {% endcapture %}

              {% if forloop_index <= imgs_without_lazy %}
                <img srcset="{{ data_srcset | strip_newlines | strip }}" sizes="{{ data_sizes | strip_newlines | strip }}" alt="Foto do produto {{ product.name }}"/>
              {% else %}
                <img class="lazy" loading="lazy" data-srcset="{{ data_srcset | strip_newlines | strip }}" sizes="{{ data_sizes | strip_newlines | strip }}" alt="Foto do produto {{ product.name }}"/>
              {% endif %}
              
            {% endfor %}
          {% endif %}
        </div>
      {% endcapture %}

      {% break %}      
    {% endfor  %}
  {% endif %}
{% endunless %}
{% comment %} ========================================= {% endcomment %}
{% comment %} Fechamento das configs de Imagens/Videos  {% endcomment %}
{% comment %} ========================================= {% endcomment %}


{% comment %} Definição do modelo de compra rápida {% endcomment %}
{% comment %} Valores: hover/popup {% endcomment %}
{% comment %} Remover o data-attribute "data-quickview-type" por completo caso não utilize a compra rápida {% endcomment %}
{% assign quickview_type = 'popup' %}

{% comment %} ========== {% endcomment %}

<div class="product-block {{ class_sold_out }}" data-product-box="{{ product.id }}" data-quickview-type="{{ quickview_type }}">
  <div class="images">
    <a aria-label="Ir para o produto {{ product.name }}" href="{{ product.url }}">

      {% comment %} Aplicação do Vídeo - Apenas no desktop {% endcomment %}
      {% if mobile == false and product_video != blank %}
        {{ product_video }}

      {% comment %} No mobile, utiliza somente as imagens {% endcomment %}
      {% elsif image_urls.size > 0 %}
        <figure class="image -square">
          {% for image in image_urls limit: img_limit %}
            {% capture data_srcset %}
              {{ image | resize: '350x' }} 360w,
              {{ image | resize: '597x' }} 680w,
              {{ image | resize: '371x' }} 991w,
              {{ image | resize: '425x' }} 1280w,
              {{ image | resize: '412x' }} 1368w,
              {{ image | resize: '384x' }} 1920w,
              {{ image }} 2000w
            {% endcapture %}
      
            {% capture data_sizes %}
              (max-width: 360px) 360px,
              (max-width: 680px) 680px,
              (max-width: 991px) 991px,
              (max-width: 1280px) 1280px,
              (max-width: 1368px) 1368px,
              (max-width: 1920px) 1920px,
              (min-width: 1921px) 2000px
            {% endcapture %}

            {% if forloop_index <= imgs_without_lazy %}
              <img srcset="{{ data_srcset | strip_newlines | strip }}" sizes="{{ data_sizes | strip_newlines | strip }}" alt="Foto do produto {{ product.name }}"/>
            {% else %}
              <img class="lazy" loading="lazy" data-srcset="{{ data_srcset | strip_newlines | strip }}" sizes="{{ data_sizes | strip_newlines | strip }}" alt="Foto do produto {{ product.name }}"/>
            {% endif %}
          {% endfor %}
        </figure>
      {% endif %}

      {% render 'partials/components/flag', product: product, mobile: mobile %}
    </a>
  </div>

  <div class="description">
    <h3 class="name">
      <a aria-label="Ir para o produto {{ product.name }}" href="{{ product.url }}">
        {{ product.name }}
      </a>
    </h3>

    <div class="price-wrapper">
      <div class="product-price price {% if discount_amount %} -discount {% endif %}" data-was-processed="false" data-sku="" data-init-price='{{ price_settings }}' data-price="{{ product.price }}" data-discount-percent="{{ discount_amount | default: 0 }}" data-pix-discount="{{ pix_discount | default: 0 }}"></div>
    </div>

    <p class="quantity">{{ product.variants.size }} opções disponíveis</p>
  </div>

  {% comment %}
    Renderiza attributos do popup de compra rápida
    Retirar ou comentar caso não for utilizado
  {% endcomment %}

  {% if product.available and customs_tag == nil and quickview_type == 'popup' %}
    <button aria-label="Adicionar produto ao carrinho" class="button-default" data-open-popup-quickview type="button">
      <span class="text">COMPRAR</span>
    </button>
  {% elsif product.available and customs_tag %}
    <a aria-label="Ir para o produto {{ product.name }}" href="{{ product.url }}" class="button-default">
      <span class="text">Personalize</span>
    </a>
  {% elsif quickview_type == 'popup' %}
    <button aria-label="Produto indisponível" class="button-default -unavailable" data-open-popup-quickview type="button">
      <span class="text">PRODUTO INDISPONÍVEL</span>
    </button>
  {% endif %}
</div>
