@import "../base/mixins";

@keyframes showElement {
  from { opacity: 0 }
  to { opacity: 1 }
}

.local-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(.-active) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    > .popup-body {
      transform: translate3d(0, 3rem, 0);
      opacity: 0;
    }

    > .popup-overlay {
      backdrop-filter: blur(2px) opacity(0);
    }
  }
}

.local-popup > .popup-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFF;
  position: relative;
  z-index: 1;
  transition: transform .4s ease, opacity .4s ease;
  transform: translate3d(0, 0, 0);
  width: 100%;
  min-height: 38rem;
  max-width: 90vw;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px 0px;

  &::-webkit-scrollbar { display: none }

  @include media('sm') {
    width: 100%;
    max-width: 40rem;
  }

  .form-local {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.8rem;
    padding: 2rem;
  
    @include media('xs') {
      gap: 0.8rem;
      padding: 0.8rem;
    }

    // Fica bloqueado enquanto envia
    &.sending .field {
      pointer-events: none;
      opacity: .4;
    }

  }

  .fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }

  .text {
    width: 100%;
    text-align: center;

    .title, .selected-cep {
      color: var(--primary-color);
    }

    .description {
      color: var(--gray-3);
      font-size: var(--font-size-base);
    }

    .local-name {
      margin-top: 0.8rem;
      font-size: var(--font-size-small);

      &.-hidden { display: none }
    }

    .selected-cep:not(:empty) {
      margin-top: 1rem;
      font-size: var(--font-size-small);
    }
  }

  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    text-align: center;
    border: solid 2px var(--primary-color);
    border-radius: 2rem;
    width: 80%;
    padding: 1rem 2rem;
    height: 4.2rem;

    @include media('sm') { max-width: 34rem }

    .modal-input {
      appearance: none;
      border: none;
      border-radius: 0;
      outline: none;
      text-align: center;
      background: transparent;
      font-size: var(--font-size-base);
      font-weight: 500;
      color: var(--primary-color);
      width: 100%;
      height: 3.8rem;
    
      &::placeholder { color: var(--gray-3) }
    }
    
  }

  .local-search,
  .continue-button {
    font-size: var(--font-size-small);
    color: var(--gray-3);
    text-align: center;
    border-bottom: solid 1px var(--gray-3);
    transition: var(--transition);
    font-weight: 700;

    &:hover {
      color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }

  .continue-button {
    color: var(--primary-color);
    border-color: var(--primary-color);

    &:hover {
      color: var(--gray-3);
      border-color: var(--gray-3);
    }

    &.-hidden { display: none }

  }

  .button-default {
    cursor: pointer;
    width: 80%;
    margin-top: 1.6rem;
  }

  .response {
    text-align: center;
    transition: var(--transition);

    &.-hidden { opacity: 0 }
  }

}

.local-popup > .popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.local-popup > .close {
  color: var(--white);
  font-weight: 700;
  font-size: 4rem;
  position: absolute;
  right: 5%;
  top: 10%;
  z-index: 9;
  transition: var(--transition);

  &.-hidden { display: none }

  @include media('sm') {
    right: 20%;
    top: 20%;
  }
}