{% comment %} CONFIG {% endcomment %}
{% assign customs_tag = product.tags | where: 'type', 'personalizacao' | first %}

{% comment %} HTML {% endcomment %}
<form class="add-to-cart">
  <div class="attributes" data-product-attributes>
    
    {% comment %} Atributos do produto {% endcomment %}
    {% render 'partials/content/product/variants/variants', product: product %}
    
    {% comment %} Personalizações do produto {% endcomment %}
    {% if customs_tag %}
      {% render 'partials/content/product/customizations/customizations', product: product %}
    {% endif %}

  </div>
</form>
