{% comment  %}Youtube: Padrão URL (https://www.youtube.com/watch?v=s1BICA5YIKY){% endcomment %}
{% comment  %}Vimeo: Padrão URL (https://vimeo.com/347119375){% endcomment %}

{% if banner.url contains "youtube" or banner.url contains "youtu.be" %}
    {% assign video_address = banner.url | split: "?v=" | last %}
    {% assign video_code = video_address | split: '&' | first | strip %}
    {% assign params = '?loop=1&autoplay=1&controls=0&rel=0&mute=1&showinfo=0&modestbranding=1&playlist=' | append: video_code %}
    {% assign video_src = video_code | prepend: "https://www.youtube.com/embed/" | append: params %}

    <script>window._video_src = '{{ video_src }}';</script>

    <div class="video -youtube">
        <div class="video-container">
        <iframe class="swiper-lazy"  data-video-fullbanner frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

{% elsif banner.url contains "vimeo" %}
    {% assign video_code = banner.url | split: "/" | last | strip %}  
    {% assign video_url = video_code | prepend: "https://player.vimeo.com/video/" | append: "?autoplay=1&title=0&byline=0&portrait=0&loop=1&muted=1&controls=0&modestbranding=1" %}

    <div class="video">
        <div class="video-container">
        <iframe title="{{ banner.title }}" class="lazy" data-src="{{ video_url }}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="skeleton"></div>
        </div>
    </div>
{% endif %}

