.video {
    overflow: hidden;
    position: relative;
  
    &::after {
      content: "";
      display: block;
    }
  
    &.-square::after {
      padding-bottom: 100%;
    }
  
    &.-horizontal::after {
      padding-bottom: 46%;
    }
  
    &.-vertical::after {
      padding-bottom: 146%;
    }
  
    > iframe, video {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }