
{% comment  %}
  Adicionar esse arquivo na raiz da pasta Liquid
{% endcomment %}

{% getparam 'q' as params_q %}

{% if params_q == "" %}
  {% assign q = " "  %}
{% endif %}

{% load_products page: 1 per_page: 50 q: params_q %}

{{ products | to_json }}
