<!doctype html>
<html>
  ...
  <body>
    ...
    
    {% comment %} Componente de carrinho {% endcomment %}
    {% render 'partials/common/cart_drawer' %}

    {% comment %} Formulário de orçamento {% endcomment %}
    {% render 'partials/common/cart_form', current_shop: current_shop %}
    
    ...
  </body>
</html>
