.description[data-description] {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  > .anchor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 0;
    
    border-top: 1px solid rgba(112, 112, 112, .2);
    &:first-child { border-top: 0 }

    &,
    &::after {
      transition: color .25s;
      // fonts
      font-family: var(--font-secondary) !important;
      font-size: var(--font-size-base-4);
      line-height: var(--line-height-4);
      color: var(--black);
      font-weight: 600;
    }
    &::after {
      // fonts
      font-family: var(--font-primary) !important;
      color: currentColor;
    }

    &:hover { color: var(--primary1) }

    &::after { content: '+' }
    &.-active::after { content: '-' }
  }
  > .dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .8rem;

    transition: opacity .4s;
    overflow: hidden;
    opacity: 0;
    height: 0;
    &.-active {
      opacity: 1;
      height: auto;
      margin-bottom: 1.6rem;
    }

    * {
      // fonts
      font-size: var(--font-size-base-2);
      line-height: var(--line-height-2);
      letter-spacing: var(--letter-spacing-1);
      color: var(--gray1);
    }
  }
}
