
// Personalizações
.prod-option.-customization {

  //////////////////////////////////////
  //// SESSAO ALTERADA
  //////////////////////////////////////
  [data-customization-file] {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  [data-customization-file-name],
  [data-customization-error] {
    width: 100%;
  }

  [data-customization-error] {
    color: var(--red);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-title);
  }

  //////////////////////////////////////
  //// FIM DA SESSAO ALTERADA
  //////////////////////////////////////
}
