{% for image_custom in customization.customizations %}
  {% if image_custom.quantity <= 0 %}
    {% continue %}
  {% endif %}

  {% comment %} ======================================================== {% endcomment %}
  {% comment %} Customization não é enviada com o type == file           {% endcomment %}
  {% comment %} ======================================================== {% endcomment %}
  <input 
    type="text"
    name="customizations[][{{ customization.name }}]"
    id="{{ customization.name }}-customization-{{ forloop.index }}"
    data-customization
    data-customization-image
    data-customization-price="{{ image_custom.price }}"
    data-customization-name="{{ customization.name }}"
    hidden
  />


  <input 
    type="file"
    id="image-selector-{{ customization.name }}-{{ forloop.index }}"
    accept=".png, .jpg, .webp"
    data-customization-file
    required
  />

  <label class="button-default" for="image-selector-{{ customization.name }}-{{ forloop.index }}">
    Escolher arquivo
  </label>
  <p data-customization-file-name>
    Nenhum arquivo selecionado
  </p>
  <p data-customization-error></p>
{% endfor %}
