{% getparam 'blocked' as blocked_param %}
{% getparam 'mobile' as mobile_param %}

{% if mobile_param %}
  {% assign mobile = true %}
{% endif %}

<!doctype html>
<html lang="{{ language }}">
  <head>

    {{ content_for_head }}

    <script>
      var filterRange = [];
      window.productVariants = {};
      window.purchaseScript = "{{ 'productPurchase.js' | javascript_path }}";
      window.speechSearchScript = "{{ 'speechSearch.js' | javascript_path }}"
      window.speechSearchStyle = "{{ 'speechSearch.css' | stylesheet_path }}"
      window.currentLocal = null;
      window.client = null;
      window.mobile = {{ mobile }};
      window.useLocals = false // Definir como true caso seja usado estoque por locals
      window.language = {{ language | to_json }}
      window.pixDiscount = {{ current_shop.settings.pix_discount | default: 0 }};
      ////////////////////////////////////////////////////////////////////////////////////
      // SESSAO ALTERADA
      ////////////////////////////////////////////////////////////////////////////////////
      window.fileToUpload = '';
      ////////////////////////////////////////////////////////////////////////////////////
      // FIM DA SESSAO ALTERADA
      ////////////////////////////////////////////////////////////////////////////////////
    </script>
  </head>

  
</html>
