{% comment %} CONFIG {% endcomment %}

{% comment %} HTML {% endcomment %}
<div class="breadcrumbs">

  <a href="/">Home</a>
  <span>/</span>
  
  {% comment %}
    Arquivo: tag.liquid
    Chamada: {% render 'partials/components/breadcrumbs', parent_tag: parent_tag, tag: tag %}
  {% endcomment %}
  {% if parent_tag != blank %}
    {% if parent_tag.name != blank %}
      <a href="/{{ parent_tag.name }}">
        {% if parent_tag.title != blank %}
          {{ parent_tag.title }}
        {% else %}
          {{ parent_tag.name | replace: '-', ' ' | capitalize }}
        {% endif %}
      </a>
      <span>/</span>
    {% endif %}
  {% endif %}

  {% comment %}
    Arquivo: tag.liquid
    Chamada: {% render 'partials/components/breadcrumbs', parent_tag: parent_tag, tag: tag %}
  {% endcomment %}
  {% if tag != blank %}
    <p>
      {% if tag.title != blank %}
        {{ tag.title }}
      {% else %}
        {{ tag.name | replace: '-', ' ' | capitalize }}
      {% endif %}
    </p>
  {% endif %}

  {% comment %}
    Arquivo: product.liquid
    Chamada: {% render 'partials/components/breadcrumbs', product: product %}
  {% endcomment %}
  {% if product != blank %}
    {% for tag in product.tags %}
      {% if tag.type == 'categoria' %}
        <p>
          {% if tag.title != blank %}
            {{ tag.title }}
          {% else %}
            {{ tag.name | replace: '-', ' ' | capitalize }}
          {% endif %}
        </p>
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% comment %}
    Arquivo: search.liquid
    Chamada: {% render 'partials/components/breadcrumbs', search: true %}
  {% endcomment %}
  {% if search != blank %}
    <p>Busca</p>
  {% endif %}

  {% comment %}
    Arquivo: page.liquid
    Chamada: {% render 'partials/components/breadcrumbs', page: page %}
  {% endcomment %}
  {% if page != blank %}
    <p>{{ page.title }}</p>
  {% endif %}

  {% comment %}
    Arquivo: login.liquid
    Chamada: {% render 'partials/components/breadcrumbs', login: true %}
  {% endcomment %}
  {% if login != blank %}
    <p>Entrar</p>
  {% endif %}

</div>
