.breadcrumbs {
  z-index: 1;
  width: 100%;
  margin: 1.6rem 0;
  display: flex;
  white-space: nowrap;
  align-items: center;
  pointer-events: none;
  justify-content: flex-start;
  
  > p {
    overflow: hidden;
    pointer-events: all;
    text-overflow: ellipsis;
    // fonts
    font-size: var(--font-size-base-2);
    line-height: var(--line-height-2);
    color: var(--gray2);
    font-weight: 600;
  }
  > a,
  > span {
    pointer-events: all;
    // fonts
    font-size: var(--font-size-base-2);
    line-height: var(--line-height-2);
    color: var(--gray3);
    font-weight: 300;
  }
  > a:hover { text-decoration: underline }
  > span { margin: 0 .8rem }
}
