.attributes {

  // Estilização para personalizações de tipo "Texto"
  > .prod-option [type="text"] {
    width: 100%;
    padding: 0.8rem 1.6rem;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
  }
}
