{%- comment -%}
  Na plataforma Vnda temos o recurso de assinatura de produtos (compra recorrente) juntamente com a Vindi. 
  
  O cadastro das assintaturas deve ser feito diretamente na Vindi, e apenas o id da assinatura deve ser cadastrado na plataforma.

  Precisaremos de um formulário com as seguintes informações:

  - quantity: quantidade de itens da assinatura
  - sku: sku do produto na plataforma Vnda
  - extra[vindi_plan_id]: id do produto de assinatura na vindi

  Essas informações são obrigatórias.

  Nesse exemplo, estamos utilizando a propriedade 1 da variante para armazenar o id do produto de assinatura na Vindi.
{%- endcomment -%}

<form data-form-product-assinatura>
  <input type="hidden" id="quantity" name="quantity" value="1">

  {% assign mainVariant = product.variants | where: 'main', true | first %}

  <input type="hidden" name="sku" value="{{ mainVariant.sku }}">
  <input type="hidden" name="extra[vindi_plan_id]" value="{{ mainVariant.properties.property1.value }}">

  <button 
    type="submit" 
    class="add-to-cart-button"
    data-action="add-cart-assinatura"
    data-event="addToCart"
    data-event-json='{% gtm item:product %}'>
    Assinar
  </button>

  <div class="msg-response" id="erro-adicionar-assinatura">
    <span class="msg"></span>
  </div>
</form>

{%- comment -%}
  Aqui temos também o exemplo de javascript (utilizando jQuery, mas pode ser usado Vanilla Javascritp também) de como enviar o formulário.
  
  Os dados do formulário devem ser enviados para urldaloja/assinaturas/carrinho/itens.

  Atente que vindi_plan_id deve ser enviado no objeto extra!
{%- endcomment -%}

<script>
  var urlHome = "{{ home_url }}"
  var urlAssinaturaCartAdd = urlHome + 'assinaturas/carrinho/itens';

  $("[data-form-product-assinatura]").on("submit", function(){
    var data = {};

    data.subscription_item = {
      quantity: this.find('[name="quantity"]').val(),
      sku: this.find('[name="sku"]').val(),
      extra: {
        vindi_plan_id: this.find('[name="extra[vindi_plan_id]"]').val()
      }
    }

    $.ajax({
      url: url,
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(data),
      xhrFields: { 
        withCredentials: true 
      },
    })
    .done(function (resp) {
      console.log("success");
    })
    .fail(function (xhr, status, error) {
      console.log("error");
    })
    .always(function () {
      console.log("complete");
    });
  })
</script>