.attributes {  
  > .prod-option {
    > .inner {

      // Estilização para atributos de cor (adaptar conforme o projeto)
      &[data-produto="Cor-attribute"] {
        
        // Prevê seleção para atributos com e sem link
        > .label.-current .color,
        > .input:checked + .label { cursor: default }
        > .label.-current .color,
        > .input:checked + .label .color { border: .1rem solid var(--gray1) }

        > .label {
          cursor: pointer;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          
          // Exibe a cor do produto atual em primeiro
          &.-current { order: -1 }
          // Esconde atributos sem link
          &.-link ~ .label:not(.-link) { display: none }

          &:hover .color { border: .1rem solid var(--gray2) }
          > .color {
            padding: .2rem;
            border-radius: 100%;
            display: flex;
            overflow: hidden;
            
            transition: border .25s;
            border: .1rem solid transparent;
  
            > .background {
              width: 1.8rem;
              height: 1.8rem;
              min-width: 1.8rem;
              min-height: 1.8rem;
              border-radius: 100%;
              &.-white { border: .1rem solid var(--gray3) }
            }
          }
        }
      }
    }
  }
}
