<!doctype html>
<html>
  <head>
    ...
  </head>
  <body>
    ...

    {% comment %} Conteúdo exibido sem parâmetro de acesso {% endcomment %}
    {% render "partials/components/landing_page", position: "landing-page", mobile: mobile %}

    {% comment %} Conteúdo exibido com parâmetro de acesso {% endcomment %}
    <div class="wrapper" id="wrapper">
      {% render "partials/common/header" %}
      <main>
        {{ yield }}
      </main>
      {% render "partials/common/footer" %}
    </div>
    {% render "partials/common/popup_newsletter" %}
    {% render "partials/common/popup_purchase" %}
    {% render "partials/common/cart_drawer" %}
    
    ...
  </body>
</html>
