{% body %}
  {% comment %} ---------------------------------------------------------------------------------- {% endcomment %}
  {% comment %} O trecho abaixo deve ser adicionado na tag liquid {% body %} do home.liquid        {% endcomment %}
  {% comment %} ---------------------------------------------------------------------------------- {% endcomment %}
      
  {% comment %} Avaliação da loja - Carrossel com relato dos usuários  {% endcomment %}
  {% comment %} Remover ou comentar se não for utilizado               {% endcomment %}

  <script>
    var _trustvox_colt = _trustvox_colt || [];
    _trustvox_colt.push(['_storeId', 'XXXXXXX'], ['_limit', '8']); // Substituir XXXXXXX pelo ID da Loja (ver no painel da Trustvox)
  </script>

{% endbody %}

{% comment %} --------------------------------------------------------------------------------------------------------------- {% endcomment %}
{% comment %} O trecho abaixo deve ser adicionado onde desejar exibir o campo de avaliações da loja, na home do site          {% endcomment %}
{% comment %} --------------------------------------------------------------------------------------------------------------- {% endcomment %}

{% comment %} Trustvox - Avaliações da loja {% endcomment %}
{% comment %} Remover ou comentar se não for utilizado {% endcomment %}
<section class="section trustvox-reviews-store container" >
  <div id="_trustvox_colt"></div>
</section>