<head>
  <script>
    // -----------------------------------------------------------------------
    // O trecho abaixo deve ser adicionado na tag <head>, do layout.liquid
    // -----------------------------------------------------------------------

    // Configurações iniciais
    window._trustvox =  [];
    _trustvox.push(['_storeId', 'XXXXXX']); // Substituir XXXXXXX pelo ID da Loja (ver no painel da Trustvox)

    // Avaliações para os product-blocks
    // Remover ou comentar se não for utilizado
    var _trustvox_shelf_rate = _trustvox_shelf_rate || [];
    _trustvox_shelf_rate.push(['_storeId', 'XXXXXX']); // Substituir XXXXXXX pelo ID da Loja (ver no painel da Trustvox)

    // Carrosséis e listagem (já compatível com scroll infinito)
    // Containers onde há product-blocks (separá-los por vírgula, caso haja mais de um)
    // Remover ou comentar se não for utilizado
    _trustvox_shelf_rate.push(['_productContainer', '[data-products-carousel], .list-products']);

  </script>
</head>