{% body %}
  {% comment %} ---------------------------------------------------------------------------------- {% endcomment %}
  {% comment %} O trecho abaixo deve ser adicionado na tag liquid {% body %} do product.liquid     {% endcomment %}
  {% comment %} ---------------------------------------------------------------------------------- {% endcomment %}
      
  {% comment %} Avaliação individual por produto - Usuários enviam relato {% endcomment %}
  {% comment %} Remover ou comentar se não for utilizado {% endcomment %}
  <script type="text/javascript">
    window._trustvox.push(['_productId',  '{{ product.reference }}']);
    window._trustvox.push(['_productName', '{{ product.name }}']);
    window._trustvox.push(['_productPhotos', ['{{ product.image_url }}']]);
  </script>

{% endbody %}


{% comment %} Inserir no local em que as estrelas de avaliação do produto devem ser exibidas    {% endcomment %}
{% comment %} Pode ser inserida abaixo do nome, do preço, local desejado dentro da transacional {% endcomment %}
<div class="trustvox-rate" data-trustvox-product-code="{{ product.reference }}"></div>

{% comment %} --------------------------------------------------------------------------------------------------------------- {% endcomment %}
{% comment %} O trecho abaixo deve ser adicionado onde desejar exibir o campo de avaliações do produto, na transacional       {% endcomment %}
{% comment %} --------------------------------------------------------------------------------------------------------------- {% endcomment %}

{% comment %} Avaliações do produto {% endcomment %}
{% comment %} Remover ou comentar se não for utilizado {% endcomment %}
<section class="section trustvox-reviews container">
  <div id="_trustvox_widget" class="container"></div>
</section>