<!doctype html>
<html>
  <head>
    ...
  </head>
  <body>

    {% comment %} VERIFY LP BANNER {% endcomment %}
    {% load_banners position: "landing-page" limit: 1 %}
    {% assign lp = false %}
    {% for banner in loaded_banners %}
      {% if banner.file_url != blank %}
        {% assign lp = true %}
      {% endif %}
    {% endfor %}

    {% comment %} VERIFY LP PARAMETER {% endcomment %}
    {% getparam "lp" as access %}
    {% if access == "false" %}
      {% assign lp = false %}
    {% endif %}

    {% if lp %}
      {% render "partials/components/landing_page", position: "landing-page", mobile: mobile %}

    {% else %}
      <div class="wrapper" id="wrapper">
        {% render "partials/common/header" %}
        <main>
          {{ yield }}
        </main>
        {% render "partials/common/footer" %}
      </div>
      {% render "partials/common/popup_newsletter" %}
      {% render "partials/common/popup_purchase" %}
      {% render "partials/common/cart_drawer" %}
      
    {% endif %}
    ...
  </body>
</html>
