<div class="product-block">
  
  {% comment %} Inserir no local em que as estrelas de avaliação do produto devem ser exibidas    {% endcomment %}
  {% comment %} Pode ser inserida abaixo do nome, do preço, local desejado dentro do product-block {% endcomment %}
  <div class="trustvox-rate" data-trustvox-product-code="{{ product.reference }}"></div>

</div>