{% comment %} CONFIG {% endcomment %}
{% assign has_attributes = attributes | join: '' %}

{% comment %} Verifica atributo de cor do produto {% endcomment %}
{% assign colors_html = '' %}
{% assign current_product = product %}
{% if attributes_name contains 'Cor' %}

  {% comment %} Verifica se possui uma tag de tipo "modelo" {% endcomment %}
  {% for tag in product.tags %}
    {% if tag.type == 'modelo' %}

      {% comment %} Carrega produtos da tag de tipo "modelo" {% endcomment %}
      {% load_products tag: tag.name type_tags: '' property1_values: '' property2_values: '' property3_values: '' q: ' ' page: 1 %}
  
      {% comment %} Monta HTML de cores para cada produto carregado {% endcomment %}
      {% capture colors_html %}
        {% for product in products %}

          {% comment %} Verifica valor do atributo de cor (pode ser atributo 1 ou 2) {% endcomment %}
          {% assign color = '' %}
          {% if product.variants[0].properties.property1.value != blank and product.variants[0].properties.property1.value contains '#' %}
            {% assign color = product.variants[0].properties.property1.value %}
          {% elsif product.variants[0].properties.property2.value != blank and product.variants[0].properties.property2.value contains '#' %}
            {% assign color = product.variants[0].properties.property2.value %}
          {% endif %}

          {% comment %} Adiciona elemento com link para o produto {% endcomment %}
          {% if color != blank %}
            <a
              class="label -link {% unless product.available %}-unavailable{% endunless %} {% if product.id == current_product.id %}-current{% endif %}"
              href="{{ product.url }}"
            >
              {% if color contains '#' and color contains '|' %}
                {% render 'partials/components/check_color', color: color %}
              {% else %}
                <span class="text">{{ color }}</span>
              {% endif %}
            </a>
          {% endif %}

        {% endfor %}
      {% endcapture %}
  
      {% comment %} Interrompe verificações de tag {% endcomment %}
      {% break %}

    {% endif %}
  {% endfor %}
{% endif %}

{% comment %} HTML {% endcomment %}
{% if has_attributes and has_attributes != blank %}
  <div class="prod-option">

    <p class="option-title">{{ attributes_name }}</p>

    <div class="inner">
      {{ colors_html }}
      
      {% for attribute in attributes %}
        {% if attribute != blank %}
          
          <input class="input" />

          <label class="label">
            {% if attribute contains '#' and attribute contains '|' %}
              {% render 'partials/components/check_color', color: attribute %}
            {% else %}
              <span class="text">{{ attribute }}</span>
            {% endif %}
          </label>

        {% endif %}
      {% endfor %}
    </div>

  </div>
{% endif %}
