.categories {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem;
  overflow-x: auto;

  &::-webkit-scrollbar { display: none }

  @include media('md') { justify-content: center }

  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px transparent;
    font-size: var(--font-size-big);
    text-align: center;
    padding: 0.4rem;
    min-width: 10rem;
    min-height: 4.2rem;
    white-space: nowrap;
    transition: var(--transition);

    @include media('md') { min-height: fit-content }

    &.-selected, &:hover { border-bottom: solid 1px var(--primary-color) }
  }
}