{% comment %}Exemplo de implementação de video através da tag HTML (link direto) {% endcomment %}
{% comment %}Para casos de vimeo premium https://help.vimeo.com/hc/pt/articles/12426150952593-Links-diretos-para-arquivos-de-v%C3%ADdeo#h_01FKKQMFZ4YBS1SZPSM9A82VWF{% endcomment %}

{% assign video_url = banner.url | downcase  %}
{% assign video_type =  video_url | split: '.' | last | split: '?' | first %}

{% if video_url contains '.mp4' 
    or video_url contains '.mov' 
    or video_url contains '.wmv' 
    or video_url contains '.webm' 
    or video_url contains '.avi' 
    or video_url contains '.flv' 
    or video_url contains '.mkv' 
    or video_url contains '.mts' %}

    <div class="video {% if resolution contains 'mobile' %}-vertical {% else %} -horizontal {% endif %}">
        <video autoplay anonymous loop muted >
            <source src="{{ video_url }}" type="video/{{video_type}}" />
        </video>
    </div>

{% endif %}