{% load_customizations product_id: product.id %}

{% for customization in loaded_customization_types %}

  <div class="prod-option" data-custom-option>
    <p class="option-title">
      <span>{{ customization.name }}</span>
      <span class="value" data-value></span>
    </p>
    <div class="inner">
      {% if customization.options %}
        {% comment %}
          PERSONALIZAÇÕES DO TIPO OPÇÕES
          Gera seletores para cada opção cadastrada
        {% endcomment %}
        {% assign options_list = customization.customizations | sort: 'name' %}
        {% for option in options_list %}
          <input
            type="radio"
            name="customizations[][{{ customization.name }}]"
            value="{{ option.name }}"
            id="{{ customization.name }}-customization-{{ forloop.index }}"
            class="input"
            data-customization
            data-customization-price="{{ option.price }}"
            data-customization-name="{{ customization.name }}"
          />

          <label for="{{ customization.name }}-customization-{{ forloop.index }}" class="label">            
            {% if option.name contains '|' %}
              {% render 'partials/components/check_color', color: option.name, product: product %}
            {% else %}
              <span class="text">{{ option.name }}</span> 
            {% endif %}
          </label>
        {% endfor %}

      {% else %}
        {% comment %}
          PERSONALIZAÇÕES DO TIPO TEXTO
          Gera seletores para cada opção cadastrada
        {% endcomment %}
        <input
          type="text"
          placeholder="{{ customization.name }}"
          name="customizations[][{{ customization.name }}]"
          id="{{ customization.name }}-customization-{{ forloop.index }}"
          data-customization
          data-customization-price="{{ option.price }}"
          data-customization-name="{{ customization.name }}"
        />
      {% endif %}
    </div>
  </div>
{% endfor %}
