{% comment %} CONFIG {% endcomment %}
{% head %}
  <title>Entrar - {{ current_shop.name }}</title>
  <meta content="Logar ou cadastrar para acessar a área de pedidos" name="description"/>
  <link href="../assets/stylesheets/pages/login_above.css" inline rel="stylesheet" type="text/css">
{% endhead %}
{% body %}
  <script defer src="{{ 'login_page.js' | javascript_path }}"></script>
{% endbody %}

{% comment %} SEO {% endcomment %}
<h1 style="display: none">Entrar</h1>

{% comment %} HTML {% endcomment %}
<section class="section-login">
  <div class="container">

    <div class="box">
      <form class="form -active" id="form_login" data-form-login>

        <p class="text">JÁ TENHO CADASTRO</p>
  
        <input type="hidden" name="redirect_to" value="account">
        
        <div class="field">
          <p class="text">E-mail</p>
          <input type="email" name="email" id="login-email" placeholder="exemplo@email.com" required>
        </div>
        <div class="field">
          <p class="text">Senha</p>
          <input type="password" name="password" id="login-senha" placeholder="•••••••••••" required>
        </div>

        <a class="anchor" href="#">
          Esqueci minha senha
        </a>
  
        <button class="button-main -tertiary" type="button" data-default="ENTRAR">
          ENTRAR
        </button>
                
        <div data-msg style="display: none"></div>
        <div class="msg-success" style="display: none"></div>
        <div class="msg-error" style="display: none"></div>
        <div class="msg-return"></div>

      </form>
      <form class="form" id="form-recover" data-form-recover>
  
        <p class="text">RECUPERAR SENHA</p>
  
        <div class="field">
          <p class="text">E-mail</p>
          <input type="email" name="email" id="recover-email" placeholder="exemplo@email.com" required>
        </div>
  
        <a class="anchor" href="#">
          Voltar
        </a>
  
        <button class="button-main -tertiary" type="button" data-default="ENVIAR">
          ENVIAR
        </button>
  
        <div data-msg style="display: none"></div>
        <div class="msg-success" style="display: none"></div>
        <div class="msg-error" style="display: none"></div>
        <div class="msg-return"></div>
  
      </form>
    </div>

    <div class="box">
      <form class="form" id="form-register" data-form-register>

        <p class="text">AINDA NÃO TENHO CADASTRO</p>

        <input type="hidden" name="key" value="{{ current_shop.subdomain }}-cadastro">
        <input type="hidden" name="reply_to" id="reply_to" value="">
        <input name="vnda" class="form-honeypot" type="text">
        <input type="hidden" name="new_client[terms]" value="on">
        <input type="hidden" name="redirect_to" value="account">
  
        <div class="field">
          <p class="text">E-mail</p>
          <input type="email" id="register-email" name="email" placeholder="exemplo@email.com" required>
        </div>
        <div class="field">
          <p class="text">Nome</p>
          <input type="text" id="register-first-name" name="first_name" placeholder="João" required>
        </div>
        <div class="field">
          <p class="text">Sobrenome</p>
          <input type="text" id="register-last-name" name="last_name" placeholder="Da Silva" required>
        </div>
        <div class="field">
          <p class="text">CNPJ</p>
          <input type="text" id="register-cnpj" name="cnpj" placeholder="00.000.000/0000-00" autocomplete="off" maxlength="18" required>
        </div>
        <div class="field">
          <p class="text">Celular</p>
          <input type="text" id="register-phone" name="telephone" placeholder="(00) 0000 0000" required>
        </div>
        <div class="field -half">
          <p class="text">Senha</p>
          <input type="password" id="register-password" name="password" placeholder="•••••••••••" required>
        </div>
        <div class="field -half">
          <p class="text">Confirmação de senha</p>
          <input type="password" id="register-confirm-password" name="password_confirmation" placeholder="•••••••••••" required>
        </div>
        
        <button class="button-main -tertiary" type="button" data-default="REGISTRAR">
          REGISTRAR
        </button>

        <div data-msg style="display: none"></div>
        <div class="msg-success" style="display: none"></div>
        <div class="msg-error" style="display: none"></div>
        <div class="msg-return"></div>

      </form>
    </div>

    <div class="box">
      <form class="form" id="form-register" data-form-register>

        <p class="text">CADASTRO EMPRESARIAL</p>

        <input type="hidden" name="key" value="{{ current_shop.subdomain }}-cadastro-empresarial">
        <input type="hidden" name="reply_to" id="reply_to" value="">
        <input name="vnda" class="form-honeypot" type="text">
        <input type="hidden" name="new_client[terms]" value="on">
        <input type="hidden" name="redirect_to" value="account">
  
        <div class="field">
          <p class="text">E-mail</p>
          <input type="email" id="register-email" name="email" placeholder="exemplo@email.com" required>
        </div>
        <div class="field">
          <p class="text">Razão social</p>
          <input type="text" id="register-corporate-reason" name="corporate_reason" placeholder="Loja da Maria" required>
        </div>
        <div class="field">
          <p class="text">Inscrição estadual</p>
          <input type="text" id="register-state-registration" name="state_registration" placeholder="000000000000" required>
        </div>
        <div class="field">
          <p class="text">Telefone fixo</p>
          <input type="text" id="register-phone" name="telephone" placeholder="(00) 0000 0000" required>
        </div>
        <div class="field">
          <p class="text">Cep</p>
          <input type="text" id="register-cep" name="cep" placeholder="00000-000" required>
        </div>
        <div class="field -half">
          <p class="text">Nome</p>
          <input type="text" id="register-first-name" name="first_name" placeholder="João" required>
        </div>
        <div class="field -half">
          <p class="text">Sobrenome</p>
          <input type="text" id="register-last-name" name="last_name" placeholder="Da Silva" required>
        </div>
        <div class="field -half">
          <p class="text">Senha</p>
          <input type="password" id="register-password" name="password" placeholder="•••••••••••" required>
        </div>
        <div class="field -half">
          <p class="text">Confirmação de senha</p>
          <input type="password" id="register-confirm-password" name="password_confirmation" placeholder="•••••••••••" required>
        </div>
        <div class="field -half">
          <p class="text">Endereço</p>
          <input type="text" id="register-address" name="address" placeholder="Rua" required>
        </div>
        <div class="field -half">
          <p class="text">Número</p>
          <input type="text" id="register-address-number" name="address-number" placeholder="0000" required>
        </div>
        <div class="field -half">
          <p class="text">Bairro</p>
          <input type="text" id="register-address-neighborhood" name="address-neighborhood" placeholder="Tijuca" required>
        </div>
        <div class="field -half">
          <p class="text">Complemento</p>
          <input type="text" id="register-address-complement" name="address-complement" placeholder="Dados adicionais">
        </div>
        <div class="field -half">
          <p class="text">Cidade</p>
          <input type="text" id="register-address-city" name="address-city" placeholder="São Paulo" required>
        </div>
        <div class="field -half">
          <p class="text">UF</p>
          <div class="select">
            <select id="register-address-state" name="address-state" required data-form-states>
              <option disabled selected>Selecione</option>
              <option value="Acre">Acre</option>
              <option value="Alagoas">Alagoas</option>
              <option value="Amazonas">Amazonas</option>
              <option value="Amapá">Amapá</option>
              <option value="Bahia">Bahia</option>
              <option value="Ceará">Ceará</option>
              <option value="Distrito Federal">Distrito Federal</option>
              <option value="Espírito Santo">Espírito Santo</option>
              <option value="Goiás">Goiás</option>
              <option value="Maranhão">Maranhão</option>
              <option value="Minas Gerais">Minas Gerais</option>
              <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
              <option value="Mato Grosso">Mato Grosso</option>
              <option value="Pará">Pará</option>
              <option value="Paraíba">Paraíba</option>
              <option value="Pernambuco">Pernambuco</option>
              <option value="Piauí">Piauí</option>
              <option value="Paraná">Paraná</option>
              <option value="Rio de Janeiro">Rio de Janeiro</option>
              <option value="Rio Grande do Norte">Rio Grande do Norte</option>
              <option value="Rondônia">Rondônia</option>
              <option value="Roraima">Roraima</option>
              <option value="Rio Grande do Sul">Rio Grande do Sul</option>
              <option value="Santa Catarina">Santa Catarina</option>
              <option value="Sergipe">Sergipe</option>
              <option value="São Paulo">São Paulo</option>
              <option value="Tocantins">Tocantins</option>
            </select>
            <svg class="icon"><use xlink:href="#icon-angle-right"/></svg>
          </div>
        </div>

        <div class="checkbox">
          <input class="input" type="checkbox" id="register-terms" name="terms" value="yes" required>
          <p class="text">
            Li e concordo com as <a class="anchor" href="#">Políticas comerciais</a> do site.
          </p>
        </div>
        
        <button class="button-main -tertiary" type="button" data-default="REGISTRAR">
          REGISTRAR
        </button>

        <div data-msg style="display: none"></div>
        <div class="msg-success" style="display: none"></div>
        <div class="msg-error" style="display: none"></div>
        <div class="msg-return"></div>

      </form>
    </div>

  </div>
</section>
