<div class="local-popup" data-popup-local >
  <div class="popup-body">

    <form class="form-local" name="set-local" method="post" action="/cep/choose-local">

      <div class="text">
        <h2 class="title">BEM-VINDO(A)!</h2>
        <p class="description">Informe seu CEP para consultar os produtos disponíveis em sua região.</p>
        <p class="local-name -hidden">Você está vendo produtos em: <strong data-user-local></strong></p>
        <p class="selected-cep" data-modal-cep ></p> 
      </div>

      <div class="field">
        <input
          class="modal-input"
          data-modal-input
          type="tel"
          name="zip"
          id="cep"
          maxlength="9"
          placeholder="00000-000"
          required
        >
      </div>

      <a 
        class="local-search"
        href="http://www.buscacep.correios.com.br/sistemas/buscacep/" 
        target="_blank" 
        title="Busque pelo seu CEP" 
      >
        Não sabe seu CEP? Pesquise aqui.
      </a>

      <button type="submit" aria-label="Selecionar local" class="button-default">CONFIRMAR</button>
      
      <p class="response"></p>

      <button class="continue-button -hidden" type="button" aria-label="Continuar navegando pelo site" data-close-locals-popup >Continuar navegando</button>
    </form>

  </div>

  <button class="close -hidden" type="button" aria-label="Fechar popup de seleção de locais" data-close-locals-popup >X</button>
  
  <div class="popup-overlay"></div>
</div>
