#cart-drawer-el {

  // Estiliza formulário de orçamento
  .cart-form {
    padding: 1.6rem;
    flex-direction: column;
    background: var(--white);

    display: flex !important;
    & ~ div { display: none !important }

    &.-sent,
    &.-sending { pointer-events: none }

    > .field {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      &:not(:first-of-type) { margin-top: .8rem }

      > .text {
        margin-bottom: .4rem;
        // fonts
        font-size: var(--font-size-base-2);
        line-height: var(--line-height-2);
        color: var(--primary5);
      }
      > .input {
        width: 100%;
        height: 4rem;
        padding: 0 1.2rem;
        border-radius: .4rem;
        background: var(--white);
        // fonts
        font-size: var(--font-size-base-2);
        line-height: var(--line-height-2);
        color: var(--gray3);
        
        transition: border .25s, color .25s, opacity .25s;
        border: 1px solid var(--gray3);
        &:hover,
        &:active,
        &:focus { border: 1px solid var(--gray2) }
      }
    }
    > .button-main {
      width: 100%;
      margin-top: 1.6rem;
    }
    > .msg-retorno {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      > .msg {
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
        margin-top: 1.6rem;
        // fonts
        font-size: var(--font-size-base-2);
        line-height: var(--line-height-2);
        color: var(--primary5);
        font-weight: 500;
        
        transition: opacity .25s, visibility .25s;
        &:not(.-visible) {
          margin: 0;
          height: 0;
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  // Esconde preços ocultos
  .cart-list-item-price.-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
