{% comment %} CONFIG {% endcomment %}

{% comment %} VERIFY MOBILE {% endcomment %}
{% if mobile %}
  {% assign position = position | append: '-mobile' %}
{% endif %}

{% comment %} LOAD BANNER {% endcomment %}
{% load_banners position: position limit: 1 %}
{% for banner in loaded_banners %}
  {% if banner.file_url != blank %}
    
    {% comment %} MOUNT IMAGES CONFIG {% endcomment %}
    {% capture data_srcset %}
      {{ banner.file_url | resize: '767x' }} 360w,
      {{ banner.file_url | resize: '767x' }} 480w,
      {{ banner.file_url | resize: '767x' }} 767w,
      {{ banner.file_url | resize: '991x' }} 991w,
      {{ banner.file_url | resize: '1200x' }} 1200w,
      {{ banner.file_url | resize: '1400x' }} 1400w,
      {{ banner.file_url | resize: '1920x' }} 1920w
    {% endcapture %}
    {% capture data_sizes %}
      (max-width: 360px) 360px,
      (max-width: 480px) 480px,
      (max-width: 767px) 767px,
      (max-width: 991px) 991px,
      (max-width: 1200px) 1200px,
      (max-width: 1400px) 1400px,
      1920px
    {% endcapture %}

    {% comment %} HTML {% endcomment %}
    <div class="landing-page">
      <img
        class="image-src" 
        srcset="{{ data_srcset }}" 
        sizes="{{ data_sizes }}"
        rel="preload"
        alt="{{ banner.title }}"
        {% if mobile %}
          width="1920"
          height="1080"
        {% else %}
          width="800"
          height="1700"
        {% endif %}
      />
    </div>

  {% endif %}
{% endfor %}
